.footer {
    margin-top: 170px;
    background-color: #0C4B35;
    padding-bottom: 40px;
    .container-footer { 
        padding: 0 254px;
        .we-have-solutions {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: #D9F1E0;
            border-radius: 10px;
            padding: 32px 100px;
            position: relative;
            top: -70px;
            margin-bottom: 45px;
            .big-text {
                font-family: 'Nunito';
                font-style: normal;
                font-weight: 700;
                font-size: 45px;
                line-height: 61px;
                color: #212529;
                span {
                    color: #00730C;
                }
            }
            .get-a-quate {
                background-color: #00730C;
                border: none;
                border-radius: 5px;
                width: 175px;
                height: 50px;
                color: white;
                font-family: 'Nunito';
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
                line-height: 24px;
                text-transform: capitalize;
                cursor: pointer;
            }
        }
        .contacts-and-other {
            display: flex;
            .cont-subscribe-to-newsletter {
                width: 498px;
                margin-right: 96px;
                .header-subscribe-to-newsletter {
                    font-family: 'Nunito';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 33px;
                    color: #FFFFFF;
                    margin-bottom: 80px;
                }
                .small-text {
                    font-family: 'Nunito';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 30px;
                    color: #FFFFFF;
                    margin-bottom: 44px;
                }
                .input-and-button {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    border-bottom: 1px white solid;
                    .input-email {
                        font-family: 'Nunito';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 25px;
                        color: #FFFFFF;
                        background-color: transparent;
                        border: none;
                        &::placeholder {
                            color: white
                        }
                    }
                    .subscribe {
                        font-family: 'Nunito';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 24px;
                        line-height: 33px;
                        color: #FFFFFF;
                        background-color: transparent;
                        border: none;
                    }
                }
            }
            .cont-contacts {
                width: 208px;
                margin-right: 96px;
                .header-contacts {
                    font-family: 'Nunito';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 33px;
                    color: #FFFFFF;
                    margin-bottom: 80px;
                }
                .small-text {
                    font-family: 'Nunito';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 30px;
                    color: #FFFFFF;
                    margin-bottom: 20px
                }
                .phone-numbers {
                    margin-bottom: 20px;
                    p {
                        font-family: 'Nunito';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 30px;
                        color: #FFFFFF;
                    }
                }
            }
            .cont-useful-links {
                width: 239px;
                margin-right: 96px;
                .header-useful-links {
                    font-family: 'Nunito';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 33px;
                    color: #FFFFFF;
                    margin-bottom: 80px;
                }
                .links-and-arrows {
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    gap: 20px;
                    height: 180px;
                    .link-and-arrow {
                        font-family: 'Nunito';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 30px;
                        color: #FFFFFF;
                        img {
                            margin-right: 5px;
                        }
                    }
                }
            }
            .cont-popular-services {
                width: 177px;
                .header-popular-services {
                    font-family: 'Nunito';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 33px;
                    color: #FFFFFF;
                    margin-bottom: 80px;
                }
                .small-text {
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 28px;
                    color: #FFFFFF;
                    margin-bottom: 20px;
                }
            }
        }
        .socials {
            display: flex;
            gap: 30px;
            margin-bottom: 40px;
            .soc {
                border: 1px white solid;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 40px;
                height: 40px;
            }
        }
    }
    .line {
        border-bottom: 1px white solid;
        margin-bottom: 30px;
    }
    .rights-and-other {
        padding: 0 254px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .all-right-reserved {
            font-family: 'Nunito';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 30px;
            color: #FFFFFF;
        }
        .priv-pol-sitemap {
            display: flex;
            gap: 30px;
            .small-text {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 28px;
                color: #FFFFFF;  
            }
        }
    }
}