.footer {
    margin-top: 170px;
    background-color: #0C4B35;
    padding-bottom: 40px;
    .container-footer { 
        padding: 0 254px;
        .we-have-solutions {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: #D9F1E0;
            border-radius: 10px;
            padding: 32px 100px;
            position: relative;
            top: -70px;
            margin-bottom: 45px;
            .big-text {
                font: normal 700 45px/61px 'Nunito';
                color: #212529;
                span {
                    color: #00730C;
                }
            }
            .get-a-quate {
                background-color: #00730C;
                border: none;
                border-radius: 5px;
                width: 175px;
                height: 50px;
                color: white;
                font: normal 700 18px/24px 'Nunito';
                text-transform: capitalize;
                cursor: pointer;
                &:hover {
                    background-color: white;
                    color: #00730C;
                    border: 1px #00730C solid;
                }
            }
        }
        .contacts-and-other {
            display: flex;
            gap: 95px;
            .cont-subscribe-to-newsletter {
                width: 498px;
                // margin-right: 96px;
                .header-subscribe-to-newsletter {
                    font: normal 700 22px/33px 'Nunito';
                    color: #FFFFFF;
                    margin-bottom: 80px;
                }
                .small-text {
                    font: normal 400 18px/30px 'Nunito';
                    color: #FFFFFF;
                    margin-bottom: 44px;
                }
                .input-and-button {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    border-bottom: 1px white solid;
                    margin-bottom: 40px;
                    .input-email {
                        font: normal 400 14px/25px 'Nunito';
                        color: #FFFFFF;
                        background-color: transparent;
                        border: none;
                        outline: none;
                        &::placeholder {
                            color: white
                        }
                    }
                    .subscribe {
                        font: normal 700 22px/33px 'Nunito';
                        color: #FFFFFF;
                        background-color: transparent;
                        border: none;
                        cursor: pointer;
                    }
                }
                .socials {
                    display: flex;
                    gap: 30px;
                    margin-bottom: 40px;
                    .soc {
                        border: 1px white solid;
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 40px;
                        height: 40px;
                        cursor: pointer;
                    }
                }
            }
            .cont-contacts {
                width: 208px;
                // margin-right: 96px;
                .header-contacts {
                    font: normal 700 22px/33px 'Nunito';
                    color: #FFFFFF;
                    margin-bottom: 80px;
                }
                .small-text {
                    font: normal 400 18px/30px'Nunito';
                    color: #FFFFFF;
                    margin-bottom: 20px
                }
                .phone-numbers {
                    margin-bottom: 20px;
                    p {
                        font: normal 400 18px/30px 'Nunito';
                        color: #FFFFFF;
                    }
                }
            }
            .cont-useful-links {
                width: 239px;
                // margin-right: 96px;
                .header-useful-links {
                    font: normal 700 22px/33px 'Nunito';
                    color: #FFFFFF;
                    margin-bottom: 80px;
                }
                .links-and-arrows {
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    gap: 20px;
                    height: 180px;
                    .link-and-arrow {
                        font: normal 400 18px/30px 'Nunito';
                        color: #FFFFFF;
                        img {
                            margin-right: 5px;
                        }
                    }
                }
            }
            .cont-popular-services {
                width: 177px;
                .header-popular-services {
                    font: normal 700 22px/33px 'Nunito';
                    color: #FFFFFF;
                    margin-bottom: 80px;
                }
                .small-text {
                    font: normal 400 16px/28px 'Poppins';
                    color: #FFFFFF;
                    margin-bottom: 20px;
                }
            }
        }
        
    }
    .line {
        border-bottom: 1px white solid;
        margin-bottom: 30px;
    }
    .rights-and-other {
        padding: 0 254px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .all-right-reserved {
            font: normal 400 18px/30px 'Nunito';
            color: #FFFFFF;
        }
        .priv-pol-sitemap {
            display: flex;
            gap: 30px;
            .small-text {
                font: normal 400 16px/28px 'Poppins';
                color: #FFFFFF;  
            }
        }
    }
}